BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_IDS=123456789
BOT_USERNAME=PagaLEscrowBot
CHANNEL_USERNAME=PagalWorlldSojao
FEE_PERCENT=1.0

API_ID=YOUR_API_ID
API_HASH=YOUR_API_HASH
STRING_SESSION=YOUR_STRING_SESSION

GROUP_TRANSACTION_PHOTO=
PHOTO_TEMPLATE=assets/escrow_photo_template.png

DEPOSIT_ADDRESS_USDT_BSC=YOUR_DEPOSIT_ADDRESS
DEPOSIT_ADDRESS_USDT_TRC20=YOUR_DEPOSIT_ADDRESS
DEPOSIT_ADDRESS_BTC=YOUR_DEPOSIT_ADDRESS
DEPOSIT_ADDRESS_LTC=YOUR_DEPOSIT_ADDRESS
